.container-more{
     text-align:center;
     clear:both
}
 .more-btn {
     background-color: #00a550;
     border-radius: 30px;
     padding: .4em 2.4em;
     color: white;
}
 .more-btn i{
     padding-right:.2em;
     vertical-align:sub
}
 .container-result {
     font-size: 16px;
}
 .mt-1, .my-1 {
     margin-top: .25rem!important;
}
 a, a:not([href]):not([tabindex]) {
     color: #00a550;
     text-decoration: none;
}
 a:hover {
     text-decoration: none;
     transition: all .2s ease-in-out;
}
 .result {
     -webkit-font-smoothing: subpixel-antialiased;
     -webkit-tap-highlight-color: transparent;
     margin-bottom: 1.2em;
     position: relative;
     word-wrap: break-word;
}
.result-title {
     overflow: hidden;
     font-size: 1.2em;
     vertical-align: middle;
     line-height: 1.15;
     padding: 0;
     margin: 0 0 .15em;
     max-width: 100%;
}
.result-a:hover, .result-a:visited {
     color: #ff8600;
}
.result-meta {
     font-size: .8em;
     color: #888;
}
.result-meta div {
     display: inline-block;
     padding-left: .1em;
}
.result-snippet {
  font-size: .8576em;
  color: #494949a6;
  line-height: 1.45;
  margin: 0 0 .2em;
}
.result-extra {
     font-size: .7em;
     position: relative;
}
.result-extra-url {
     direction: rtl;
     position: relative;
     padding-right: 1.4em;
     white-space: nowrap;
     overflow: hidden;
     -ms-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.extra-url-icon {
     overflow: hidden;
     position: absolute;
     right: 0;
     display: inline-block;
     vertical-align: bottom;
     width: 16px;
     color: #888;
}
